@tailwind base;

@tailwind components;

.my-scroll-nav {
	@apply fixed;
	@apply top-0;
	@apply h-32;
	@apply w-full;
	@apply flex;
	@apply z-50;
	color: #FFF;
	/* height: 30px; */
	/* font-family: "Poppins", sans-serif; */
	z-index: 1000;
	transition: 0.4s;
}

.my-scroll-nav-active {
	@apply h-24;
	/* background: #fff; */
	@apply backdrop-blur-md;
	@apply bg-black/50;
	@apply shadow-2xl;
	/* color: #000; */
}

@tailwind utilities;
