@tailwind base;

@tailwind components;

.my-scroll-nav {
	/* @apply fixed; */
	/* @apply top-0; */
	@apply h-32;
	@apply w-full;
	@apply flex;
	@apply justify-center items-center;
	@apply z-50;
	color: #FFF;
	/* height: 30px; */
	/* font-family: "Poppins", sans-serif; */
	z-index: 1000;
	transition: 0.4s;
}

.my-scroll-nav-active {
	@apply h-24;
	/* background: #fff; */
	@apply backdrop-blur-xl;
	@apply bg-app-bg/60;
	@apply dark:bg-d-app-bg/60;
	@apply shadow-lg;
	@apply dark:shadow-2xl;
	/* color: #000; */
}

.open-resume-btn {
	@apply rounded-2xl;
	@apply shadow-lg;
	@apply border-2;
	@apply px-6 py-3;
	@apply text-center text-xs font-bold;
	@apply sm:text-sm;
	@apply md:text-base;

	@apply text-high-contrast-text dark:text-d-high-contrast-text;
	@apply hover:text-white;

	@apply transition-all active:transition-none;

	@apply hover:bg-hover-accent-color;
	@apply dark:hover:bg-d-hover-accent-color;

	@apply border-accent-color hover:border-hover-accent-color;
	@apply dark:border-d-accent-color dark:hover:border-d-hover-accent-color;
  }

.text-outline {
	-webkit-text-stroke-width: 0.6px;
	-webkit-text-stroke-color: #000;
}
.dark .text-outline {
	-webkit-text-stroke-color: #fff;
}

.href-btn {
	@apply relative;
	@apply flex flex-row items-center justify-center gap-2;
	@apply font-semibold text-lg;
	@apply rounded-xl;

	@apply px-8 py-4;
	@apply mt-6;
	@apply shadow-md hover:shadow-xl;
	@apply text-high-contrast-text dark:text-d-high-contrast-text;
	@apply hover:text-white;

	@apply transition-all active:transition-none;
	@apply overflow-hidden;

}

.href-btn::after {
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -2;
	@apply bg-hover-accent-color dark:bg-d-hover-accent-color;
	@apply transition-all;
	@apply duration-[350ms];
}

.href-btn:hover::after {
	@apply w-full;
}

.href-btn::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	@apply transition-all;
	@apply duration-500;
	@apply rounded-xl;
	@apply border-2;
	@apply border-hover-accent-color;
	@apply dark:border-d-hover-accent-color;
}


.form-input-name {
	@apply text-sm font-semibold text-low-contrast-text dark:text-d-low-contrast-text;
}

.form-input {
	@apply block w-full rounded-md border bg-ui-bg p-2 text-sm text-high-contrast-text outline-none  focus:bg-active-ui-bg dark:bg-d-ui-bg dark:text-d-high-contrast-text dark:focus:bg-d-active-ui-bg;
}

.form-input-border {
	@apply border-ui-border hover:border-hover-ui-border  focus:border-accent-color dark:border-d-ui-border dark:hover:border-d-hover-ui-border dark:focus:border-d-accent-color;
}

.form-input-empty {
	@apply border-red-500;
}

.custom-footer {
	@apply flex h-32 w-full;
	@apply justify-center items-center;
	@apply border-t border-subtle-border dark:border-d-subtle-border;
	@apply bg-app-bg dark:bg-d-app-bg;
	@apply text-high-contrast-text dark:text-d-high-contrast-text;
	/* 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */

	-webkit-box-shadow: 0px -2px 15px 1px rgb(0, 0, 0);
	box-shadow: 0px -2px 20px 2px rgb(0 0 0 / 0.1);

	z-index: 100;
}

.tab-title {
	@apply text-2xl sm:text-3xl;
	@apply text-high-contrast-text dark:text-d-high-contrast-text;
	@apply underline underline-offset-8;
	@apply decoration-accent-color dark:decoration-d-accent-color;
	/* @apply uppercase; */
	@apply font-medium;
}

.skill-fieldset {
	@apply flex w-full items-center justify-center rounded-lg border border-subtle-border bg-subtle-bg px-6 py-4 shadow-md transition-all hover:border-hover-ui-border hover:shadow-lg dark:border-d-subtle-border dark:bg-d-subtle-bg dark:hover:border-d-hover-ui-border;
}

.custom-legend {
	@apply m-auto px-2 text-lg md:text-xl font-semibold text-high-contrast-text dark:text-d-high-contrast-text text-nowrap;
}

body {
	@apply bg-app-bg;
}

body.dark {
	@apply bg-d-app-bg;
}

/* .project-card-btn {
	@apply flex size-full flex-row items-center justify-center gap-1.5 rounded-xl cursor-pointer shadow-md hover:shadow-xl p-2 border transition-all;
} */

.about-tab-div {
	@apply size-full;
	@apply custom-shadow-sm flex flex-col gap-4 rounded-2xl border bg-subtle-bg p-4 dark:bg-d-subtle-bg;
	@apply border border-ui-border dark:border-d-subtle-border;
	@apply hover:border-hover-ui-border dark:hover:border-d-hover-ui-border transition-all;
	@apply cursor-default
}

.about-tab-div-title {
	@apply custom-shadow-sm w-fit rounded-md border-2 border-accent-color px-3 py-1 font-medium text-high-contrast-text dark:border-d-accent-color dark:text-d-high-contrast-text;

	@apply bg-ui-bg dark:bg-d-ui-bg;
}

.project-card-btn {
	@apply flex flex-row items-center justify-center gap-1.5 rounded-2xl cursor-pointer custom-shadow-lg hover:shadow-lg py-2 px-3 border-2 transition-all font-medium;
}

.project-card-btn-outline {
	@apply bg-ui-bg dark:bg-d-ui-bg;
	@apply border-accent-color dark:border-d-accent-color;
	@apply hover:bg-hover-ui-bg dark:hover:bg-d-hover-ui-bg;
	/* @apply hover:border-transparent; */
}

.project-card-btn-fill {
	@apply border-transparent;
	@apply bg-accent-color dark:bg-d-accent-color;
	@apply hover:bg-hover-accent-color dark:hover:bg-d-hover-accent-color;
}

.presentation-view-logo {
	@apply size-5;
	@apply sm:size-6;
	@apply md:size-7;
}

.contact-view-logo {
	@apply size-4;
	@apply sm:size-6;
	@apply md:size-7;
}

.custom-shadow-lg {
	box-shadow: rgba(95, 95, 95, 0.35) 0px 2px 8px 0px;
}
.dark .custom-shadow-lg {
	box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 8px 0px;
}

.custom-shadow-md {
	box-shadow: rgba(95, 95, 95, 0.35) 0px 2px 8px 0px;
}
.dark .custom-shadow-md {
	box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 8px 0px;
}

.custom-shadow-sm {
	box-shadow: rgba(95, 95, 95, 0.35) 1px 1px 4px 0px;
}
.dark .custom-shadow-sm {
	box-shadow: rgba(0, 0, 0, 0.30) 1px 1px 4px 0px;
}

.animate-underline {
	@apply absolute -bottom-1 left-0 h-0.5 w-0 bg-accent-color transition-all group-hover:w-full dark:bg-d-accent-color;
}

/* HAMBURGER MENU */

.hamburger-bar {
	/* 0.5 5 */
	@apply h-1 w-8 rounded-full transition-all duration-300;
	@apply bg-high-contrast-text dark:bg-d-high-contrast-text;
}



/* ---- particles.js container ---- */
#particles-js {
	position:absolute;
	width: 100%;
	height: 100%;
	/* background-color: #000425; */
}



@tailwind utilities;
